<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}">Document</title>
  </head>
  <body>
    <h1 th:text="${title}"></h1>
    <ul>
      <li th:text="${user.name}"></li>
      <li th:text="${user.lastname}"></li>
      <li th:if="${user.email}" th:text="${user.email}"></li>
      <li th:if="${user.email == null}" th:text="${'No tiene email'}"></lith>
    </ul>
    <a th:href="@{/list}">ver Listado</a><br>
    <a th:href="@{'/api/params/foo?message=' + ${title}}">ver Mensaje</a><br>
    <a th:href="@{/api/params/foo?message=Hola que tal Festibal}">ver Mensaje2</a><br>
    <a th:href="@{/api/params/foo(message='hola que tal')}">ver Mensaje3</a><br>
    <a th:href="@{/api/params/bar(text='hola que tal Zoeli', code=32323)}">ver Mensaje4</a><br>
    <a th:href="@{/api/var/baz/Hola algun Mensaje}">ver var path variable</a><br>
    <a th:href="@{'/api/var/baz/'+ ${title}}">ver var path variable2</a><br>
    <a th:href="@{'/api/var/baz/'+'Hola algun Mensaje'}">ver var path variable3</a><br>
  </body>
</html>
